:root {
  --primary: #0033cc;
  --secondary: #9900ff;
  @font-face {
    font-family: "Atari";
    src: url("./fonts/atari.ttf") format("truetype");
  }
}

main {
  height: 100vh;
}

body {
  font-family: "Atari" Courier monospace;
  margin: 0;
  padding: 0;
}
