main.game-start-screen {
    font-family: "Atari";
    text-align: center;
    min-width: 1200px;
    width: 100vw;
    height: 100vh;
    padding: 20vh 0;
    background-color: #000000;
    color: var(--primary);
}

.game-start-screen__title-container {
    display: inline-block;
    border: 2px solid var(--secondary);
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 20vh;
}
.game-start-screen__title-container > h1 {
    margin: 0;
    font-size: 16vh;
    line-height: 0.775;
}

.start-button {
    appearance: none;
    font-family: "Atari";
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--primary);
    margin: 0;
    padding: 0;
    cursor: pointer;
}
