.loaded-pictures__picture-set-column.at-col-A {
    left: 20vw;
}
.loaded-pictures__picture-set-column.at-col-B {
    left: 33.333vw;
}
.loaded-pictures__picture-set-column.at-col-C {
    left: 46.3333vw;
}
.loaded-pictures__picture-set-column.at-col-D {
    left: 60vw;
}

.loaded-pictures__picture-set-column {
    bottom: 18vh;
    /* margin-bottom: 30px; */
    position: absolute;
    display: inline-block;
    text-align: center;
    --width-of-set: calc(var(--player-control-width) * 0.25);
    max-width: var(--width-of-set);
}


.loaded-pictures__picture-set__thumbnail {
    width: calc(var(--width-of-set) * 0.5);
    padding-left: calc(var(--width-of-set) * 0.25);
    padding-right: calc(var(--width-of-set) * 0.25);
}

.loaded-pictures__delete-button {
    border: none;
    appearance: none;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2;
    padding: 0.2rem 0.5rem;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 0.4rem;
    transition: background-color 500ms;
}

.loaded-pictures__delete-button:hover {
    background-color: red;
}
