.pictari-image-container {
    --pictari-y-position: 15vh;
}
.pictari-image-container {
    position: absolute;
    left: 10vw;
    top: var(--pictari-y-position);
}

.pictari-image-container > img {
    background-color: white;
    max-width: 20vw;
    border-radius: 8px;
}

.moveBeforeDeleteMode {
    animation: mymove 3s alternate infinite;
}

.pictari-image-container.moveDuringDeleteMode > img {
    transition-property: background-color;
    transition-timing-function: ease-in;
    transition-duration: 3s;
    background-color: red;
}

.pictari-image-container.moveDuringDeleteMode > svg {
    stroke: red;
    fill: red;
    stroke-width: 8;
    position: absolute;
    animation: shootLaser 1s infinite;
    display: block;
}

.moveDuringDeleteMode {
    animation: mymove 1s alternate infinite;
    animation-delay: 5s;
}

.goToFirstPic {
    left: 15.5vw;
}

.goToSecondPic {
    left: 38.5vw;
}

.gotToThirdPic {
    left: 61.5vw;
}

.goToThirdPic {
    left: 84.5vw;
}

@keyframes mymove {
    from {left: 10vw}
    to {left: 80vw}
}

@keyframes shootLaser {
    from {transform: translate(70px,0)}
    to {transform: translate(70px, 1000px)}
}
